################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SystemSO/.vs
/SystemSO/SystemSO/x64
/SystemSO/SystemSO/Debug
/SystemSO/Interpreter/x64
/SystemSO/Interpreter/Debug
